@model Contact
@{
    ViewData["Title"] = "Détails Contact";
}

<h2>Details</h2>

<h5>ID: @Model.Id</h5>
<h5>Name: @Model.Name</h5>
<h5>Email: @Model.Email</h5>
<h5>Phone Number: @Model.PhoneNumber</h5>
<h5>Address: @Model.Address</h5>
<h5>City: @Model.City</h5>
<h5>Region: @Model.Region</h5>
<h5>Postal Code: @Model.PostalCode</h5>
<h5>Country: @Model.Country</h5>